<div>
    <h2>Informações</h2>
    <p>Aplicação Front-End desenvolvida em Angular</p>
    <span>Para rodar a aplicação precisa ter o Node.js instalado em uma versão acima da 10.13 
        ou 12.0 e o Angular em uma versão acima da 10.0.5, considerando que isso já estejá
        pronto faça o download do projeto no <a href="https://github.com/rgrrms/desafioAngular">repositório</a>, após acesse a pasta
        raiz da aplicação e execute os comandos a seguir:</span>
    <p>Para baixar as dependências do node</p>
    <p>$ npm install</p>
    <p>Para rodar a aplicação</p>
    <p>$ ng serve --open</p>
    <p>A aplicação vai subir na porta 4200, assim basta acessar no seu navegador o link abaixo</p>
    <a href="http://localhost:4200/">http://localhost:4200/</a>
</div>
